<%=render 'features/navbar'%>
<section class="container">
    <h1>Search result</h1>
    <% if @find.search_features.empty? %>
        <p>No record found</p>
    <% else %>
        <%= @find.search_features.each do |b|%>
            <h3>About Feature</h3>
            <hr>
    
            <h3>Feature Information  </h3><br>

            <h4>Status:--<%=b.status%></h4>
 
            <h4>Panel:- <%= b.panels %><br></h4>
    
            <h4> Title:--  <%= b.title %><br></h4>
   
            <h4> Description:--</h4>
            <%= b.description %><br>
            <hr>
        
            <h3>Task Information  </h3>
            No of Tasks:- <%= b.jobs.count %><br>
            No of Tasks Completed:-(<%=b.jobs.count%>/<%=b.jobs.count%>)
            <%= render b.jobs %>
            <br><%=link_to 'Edit',  edit_feature_path(), method: :get, class: 'btn btn-primary'%><br>
        <%end%>
    <%end%>       
</section>