<section class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Log in</h1>
            <%= form_tag login_path do %>   
                <%= label_tag "Email"%><br>   
                <%= text_field_tag :username%><br>   
                <%= label_tag "Password"%><br>   
                <%= password_field_tag :password%><br><br>
                <p>Forget Password?<%= link_to "Reset", new_password_reset_path %></p><br>
                <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                <%= label_tag "Remember me"%><br>
                <%= submit_tag "Login"%><br>
                <%= link_to "Sign in with Outlook account", microsoft_v2_auth_omniauth_authorize_path %><br>
            <% end %>
            <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
        </div>
    </div>        
</section>    

