<section class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Log in</h1>
            <%= form_tag login_path do %>   
                <%= label_tag :username%><br>   
                <%= text_field_tag :username %><br>   
                <%= label_tag :password%><br>   
                <%= password_field_tag :password %><br><br>  
                <%= submit_tag "Login"%><br>
            <% end %>
            <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
            <p>Forget Password?<%= link_to "Reset", welcome_path  %></p>
        </div>
    </div>        
</section>    

