<br>
<section class="edit">
    <%= form_tag save_path do %> 
        <%= check_box_tag :done, 1 , params[:done]%>
        <%=label_tag job.taskname %><br>
        <%=label_tag job.description%><br>
        <%=submit_tag "Save", class: "btn btn-primary check_all" %> 
    <%end%>     
</section>  
<hr>




