<section class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Sign Up</h1>
            <%= form_for @user do |p| %>
                <%= render 'shared/error_messages' %>
                <%= p.label "Firstame"%><br>
                <%= p.text_field :firstname, placeholder: "firstname ...", class: "form-control"%><br>
                <%= p.label "Lastname"%><br>
                <%= p.text_field :lastname, placeholder: "lastname ...", class: "form-control"%><br>
                <%= p.label "Gender"%><br>
                <%= p.select(:gender, User::GENDER_LIST) %><br>
                <%= p.label "Email"%><br>
                <%= p.text_field :username, placeholder: "Email ...", class: "form-control"%><br>
                <%= p.label :password%><br>
                <%= p.password_field :password, placeholder: "New password", class: "form-control"%><br>
                <%= p.submit "Create User", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>        
</section>
