<section class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <h1>Project Management Tool</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <%= link_to "PROFILE",user_path(@user_id) , method: :get, class: "custom"%>
                </li>
                <li class="nav-item active">
                    <%= link_to "LOG OUT", welcome_path , method: :delete%>
                </li>
            </ul>
        </div>
    </nav> 
</section>
<section class="container">
    <%= render 'shared/error_messages' %>
    <h4>Create New Project</h4>
    <%= form_for ([@user, @user.projects.build]) do |project| %>
        <%= project.label "Project Title" %>
        <%= project.text_field :projectname, placeholder: "project title..." ,class: "form-control" %><br>
        <%= project.button :submit, :class => "btn btn-primary"%>
    <%end%>    
</section>