<%=render 'navbar'%>
<hr>
<section class="container">
    <h4>Create New Feature</h4>
    <%= form_for(@feature, html: { multipart: true }) do |f| %>
        <div class="field">
            <%= f.label :status %>
            <%= f.select(:status, Feature::INITIAL_LIST) %><br>
        </div>
        <h4>Assign Member:--</h4>
        
        
        <div class="field">
            <%= f.label "Members Name" %>
            <%= collection_select( :feature, :user_id, User.all, :id, :firstname, {}, {multiple: false} ) %><br>
        </div>
        <div class="field">
            <%= f.label "Status of feature:-" %><br>
            <%= f.text_field :type, value: params[:feature_work_status] %><br>
        </div><br>
        <div class="field">
            <%= f.label "Members email" %>
            <%= collection_select( :feature, :user_id, User.all, :id, :username, {}, {multiple: false} ) %><br>
        </div><br>
        <h5>Feature Information:--</h5>
        <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title, placeholder: "Title..." %><br>
        </div>
        <div class="field">
            <%= f.label :description %><br>
            <%= f.text_area :description, placeholder: "Description..." %><br>
        </div><br>
        <span class="picture">
            <%= f.file_field :picture %>
        </span><br><br>
        <%=f.hidden_field :project_id, value: params[:project_id]%>
        <div class="field">
            <%= f.label "Panel" %><br>
            <%= f.text_field :panels, value: params[:panel] %><br>
        </div><br>

        <hr>
        <h4>Add Task </h4>
        <section id = "tasks">
            <div class="fields">
                <%=f.fields_for :jobs do |f|  %>
                    <%= render 'job_fields', f: f%>
                <%end%>
                <%= link_to_add_fields "Add more task", f, :jobs %>
            </div>   
        </section>


        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>   
</section>


























  