<%=render 'navbar'%>

<section class="container">
    <h2>About Feature</h2>
    <div class="about_feature">
        <div class = "identity_token">
            <p>Identity Token :-- <%=@feature.identity_token %></p>
        </div>
        <hr>
        <div class = "assigned_member">
            <h2>Assigned Member</h2>
            <p> Email:--  <%= @feature.mailId %><br></p>
        </div>
        <hr>
        <div class= "feature_info">
            <h3>Feature Information :-- </h3><br>
            <p>Status:--<%=@feature.status%></p>
            <p>Panel:- <%= @feature.panels %><br></p>
            <p> Feature Title:--  <%= @feature.title %><br></p>
            <p>  Feature Description:--</p>
            <%= @feature.description %>
        </div>

        <hr>
        <div class="Task">
            <h3>Task Information  </h3>
            <p>No of Tasks:- <%= @feature.jobs.count %></p>
            <p>No of Tasks Completed:-(<%=@feature.jobs.count%>/0)</p>
            <%= render @feature.jobs %>     
            <%=link_to 'Add more task or edit feature',  edit_feature_path(), method: :get, class: 'btn btn-primary'%><br><br>
        </div>
    </div>
    
    <hr>
    <h4>Comment Box</h4>

    <section class="Chat box">
            Comments:- 
            <div id = "comments">
                <%= render @feature.comments %>
            </div>
    </section> 
    <hr>    
    
    <section class="Comments">
        <h4>Chat Box</h4>
        <div class="comment-form">
            <h3 class="subtitle is-3">Leave a reply</h3>
            <%= render 'comments/form' %>
        <div>    
    </section>
</section>