<%=render 'navbar'%>
<section class="container">
    <h3>About Feature</h3>
    <h5>Identity Token :-- <%=@feature.identity_token %></h5>
    <hr>
    <h3>Assigned Member</h3>
    <h4> Email:--  <%= @feature.mailId %><br></h4>
    <hr>
    
    <h3>Feature Information :-- </h3><br>

    <h4>Status:--<%=@feature.status%></h4>
 
    <h4>Panel:- <%= @feature.panels %><br></h4>
    
    <h4> Feature Title:--  <%= @feature.title %><br></h4>
    <h4>  Feature Description:--</h4>
    <%= @feature.description %>
    <hr>
    <h3>Task Information  </h3>
    No of Tasks:- <%= @feature.jobs.count %><br>
        No of Tasks Completed:-(<%=@feature.jobs.count%>/0)<br>
    <%= render @feature.jobs %>     
    <br><%=link_to 'Add more task or edit feature',  edit_feature_path(), method: :get, class: 'btn btn-primary'%><br><br>
    <h4>Comment Box</h4>
    <hr>
    <section class="Chat box">
        Comments(<%= @feature.comments.count%>)
        <div id = "comments">
            <%= render @feature.comments %>
        </div>
    </section> 
    <hr>    
    <section class="Comments">
        <h4>Chat Box</h4>
        <div class="comment-form">
            <h3 class="subtitle is-3">Leave a reply</h3>
            <%= render 'comments/form' %>
        <div>    
    </section>
</section>